.game-area {
    margin: 1rem auto;
    /* border: 1px solid black; */
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -2;
}


.options-button {
    background-color: white;
    width: 15rem;
    margin: 1rem auto;
    cursor: pointer;
    /* border: none; */
}

.pre-timer {
    font-size: 8rem;
    margin: 15% auto;
}

@media all and (max-width: 1200px) {

    .game-area {
        height: 70vh;
        width: 98vw;
    }

}

@media all and (max-width: 300px) {

}


