.options {
    background-color: white;
    border: 1px solid black;
    max-width: 65%;
    margin: 6% auto;
    padding: 1rem

}

.options-form {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.mode-select {
    height: 100%;
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    margin: auto 10px;
    justify-content: space-between;
    text-align: left;

}

.mode-select .mode {
    margin: 20px 0;
    font-size: 1.3rem;
}


.mode-options {
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    border-left: 1px solid black;
}

.mode-options-col {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: .3rem .3rem 2rem;
}

.mode-title {
    font-size: 2rem;
}

.form-area-label {
    font-size: 1.2rem;

}

.mode-options-col input {
    font-size: 1rem;
    margin: 10px;
}

.mode-options-col label {
    font-size: 1.1rem;
    padding: .3rem;
}

.mode-options .mode-desc-box {
    height: 4rem;
}

.mode-options .mode-desc {

    font-size: 1.2rem;
    padding-bottom: 5rem;
}

.disabled {
    color: gray;
}

.warning {
    /*position: absolute;*/
    margin-top: .2rem;
    margin-left: 10px;
    color: rgb(255, 64, 64);
    font-size: .8rem;
}

.start-button {
    width: 20%;
    justify-self: center;
}

.button.disabled {
    box-shadow: 3px 1px gray;
}

.button.disabled:hover {
    box-shadow: 3px 1px gray;
}

.start-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media all and (max-width: 1200px) {

    .mode-info {
        margin-bottom: 3rem;
    }

    .options-form {
        flex-direction: column;
    }


    .mode-options {
        flex-wrap: wrap;
        max-width: 900px;
        border-left: none;
        border-top: 1px solid black;
    }

    .mode-select {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media all and (max-width: 300px) {
    .options {
        padding: 0;
    }
}