.problem-wrap {
    font-size: 30px;
    /* display: flex; */
    /* justify-content: space-around; */
    width: 100%;
    margin: 0 auto;
}

.problem {
    font-size: 5rem;
}

.problem-wrap .input .answer {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 5rem;
    text-align: center;

    /* border: none; */
}

.problem-wrap .input .answer:focus {
    outline: none;
}

.Zen .game-area .problem-list .problem {
    font-size: 30px;
    display: flex;
    /* flex-direction: column-reverse; */
    /* text-align: right; */
    width: 15rem;
    margin: 0 auto;
    z-index: -1;
    /* width: 25%; */
    /* align-items: flex-start; */
}
@media all and (max-width: 1200px) {



}

@media all and (max-width: 300px) {

}