.button {
    font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.4rem;
  background-color: white;
  border: 1px solid black;
  /* border-bottom: 3px solid black;
  border-right: 3px solid black; */
  
  box-shadow: 3px 1px rgb(21, 187, 253);

  margin-bottom: 4px;

}

.button:hover {
    box-shadow: 2px 0px rgb(21, 187, 253);
    cursor: pointer;
}

.title {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: .3rem
}

.title.hidden {
  display: none;
}