.Zen .game-area {
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
}

.Zen .problem-wrap {
    font-size: 30px;
    display: flex;
    /* justify-content: space-around; */
    width: 15rem;
    margin: 0 auto;
    z-index: 0;
}
.Zen .problem-wrap .problem {
    font-size: 30px;
    display: flex;
}

.Zen .problem-wrap .input .answer{
    font-size: 30px;
    border: none;
    border-bottom: 1px solid black;
    width: 60px;
    text-align: left;
    
    /* border: none; */
}
.Zen .game-area .problem-list {
    z-index: -1;
}

.problem-wrap .input .answer:focus {
    outline: none;
}
.Zen.video {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.Zen .skip-button {
    display: none;
}